$font-family: 'Open Sans', sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-header: #f5f5f5;
$color-subtext: #d1d1d1;
$color-form-bg: #e4e4e4;
$color-form-blue: #3198fc;
$color-form-disabled: #4a4a4a;
$color-selected-option: #333333;


